<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
  <div align="center" >
  	</br>
  	<h2><b>Student Registration</b></h2>
	<h4 th:text="'Total Students -  ' + ${totalStudents} " />
	<tr>		   
		<h3><a  th:href="@{'/newUser'}">Register</a></h3>     
	</tr>
	</br>
	<tr>
	<div class="col-sm-12">
		<div class="col-sm-6 float-left">
            <div class="panel-body" align = "center" >
                <table class="table table-striped table-bordered">
  					<thead class="thead-dark">
	    				<tr>
	      					<th>Student ID</th>
	            			<th>Student Name</th>
	            			<th>Course</th>
	            			<th>Fee</th>
	            			<th>Edit</th>
	            			<th>Delete</th>
	   					</tr>
  					</thead>
  				<tbody>
      				<tr  th:each="student : ${liststudent}">
						<td th:text="${student.id}">Student ID</td>
						<td th:text="${student.name}">StudentName</td>
						<td th:text="${student.course}">Course</td>
						<td th:text="${student.fees}">Fee</td>				
						<td><a th:href="@{'/edit/' + ${student.id}}">Edit</a></td>							    
						<td><a th:href="@{'/delete/' + ${student.id}}">Delete</a></td>		    
					</tr> 
   
  				</tbody>
			</table>
          </div>
        </div> 
        <div class="col-sm-6 float-right">
	        <div class="panel-body" align = "center" >
	                <table class="table table-striped table-bordered">
	  					<thead class="thead-dark">
		    				<tr scope="col">
		      					<th>Course</th>
		            			<th>Number of Students Enrolled</th>
		            			<th>Total Fees</th>
		   					</tr>
	  					</thead>
	  					<tbody>
      						<tr   th:each="courses : ${uniqueCoursesCount}">
								<td th:text="${courses.course}">Course</td>
								<td th:text="${courses.numberOfStudents}">Number of Students Enrolled</td>
								<td th:text="${courses.totalFees}">Total Fees</td>	    
							</tr> 
   						</tbody>
	  				</table>
		</div>
	</div>
</body>
</html>